
*{margin:0; padding:0;}
ul, ol{list-style:none;}
a:hover, a:link, a:active, a:visited{text-decoration:none; color:#333333;}
a{text-decoration:none; color:#333333;}

body{
	font-family:  'Noto Sans KR', sans-serif;
	font-size:12px;
	line-height:24px;
	color:#333333;
}


/*contents*/

.sub_bold{
	font-weight:bold;
}
.small{
	padding-top:10px;
	font-size:10px;
	color:#666;
  font-weight:bold;	
}

#contents{
	width:1200px;
	height:450px;
	margin:100px auto;	
	line-height:15px;
	margin-bottom:150px;		
}
.ht{
	margin-top:175px;
}
.photo2{
	margin-top:-50px;
}

/*contents1*/
#contents1 ul{
	float:left;
}

#contents1 ul li:nth-child(1){
	margin-left:0;
}
#contents1 ul li:nth-child(5){
	margin-right:0;
}

#contents1{
	max-width:1200px;
	width:100%;
	margin:auto;
}

#contents1 ul li a{
	display:block;
	margin:5px;
}
.screen{
	position:relative;
	overflow:hidden;
}
.screen img{
	width:100%;
	display:block;
}

.bottom{
	padding:5px 0 15px;
	position:absolute;
	width:100%;
	bottom:-20%;
	left:0;
	z-index:2;
	font-weight:bold;
	color:#333;
	transition:all 0.5s;
	text-align:center;
	font-size: 16px;
	background:rgba(255,255,255,0.7);
}


.swiper-slide-next .bottom{bottom:0%;}
.swiper-slide{transform:scale(0.7);}
.swiper-slide-next{transform:scale(1);}
.swiper-slide-duplicate-prev{transform:scale(0.7);}
.swiper-button-prev{left: 347px;}
.swiper-button-next{right: 347px;}
.swiper-button-next{content:url(../images/arrow_right.png);
	width: 15px;
	height: 25px;}
	.swiper-button-prev{content:url(../images/arrow_left.png);
	width: 15px;
	height: 25px;}


