* {
  margin: 0;
  padding: 0;  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;  
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  line-height: 24px;
  background: url(../images/background_full.png) no-repeat center;
  min-width: 1320px; 
  overflow-x: hidden;        
}
  

/*header*/

#header {
  background: url(../images/wave.jpg) no-repeat center;  
  height: 235px;
}

h1{
  padding-top: 40px;  
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 15px; 
  height: 110px; 
}

p {
  font-size: 16px;
  color: #2c2c2c;
  font-weight: 400;
  padding: 10px 0 0 5px;
}


.logo{
  text-align: center;  
  width: 100px;
  height: 120px;  
}

.nav{     
  width: 1100px;
  height: 80px;
  margin: auto; 
}
.nav> li{
  float: left;    
  padding: 5px 25px; 
  margin-left: 11px; 
}

.nav> li> a{
  display: block;
  padding: 10px 0 10px;
  width: 100px;
  text-align: center;
  font-size: 16px;
  color: #f2f2f2;
}
.nav> li> a:hover{  
  color: #ff9933;
}

.nav> li:nth-child(1){
  margin-left: 150px;
}

.sub{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;  
  display: none;
  z-index: 10;  
  width: 100%;
  top: 235px;
  left: 0;
  margin: auto;
}

.sub div{
  text-align: center;
  position: relative;  
  left: 29%;
  margin: auto;
}

.sub ul{
  float: left;
  width: 150px; 
  margin: auto;   
}

.sub ul:nth-child(3){
 padding-left: 10px;
}

.sub ul:nth-child(2){
  padding-left: 10px;
 }

 .sub ul:nth-child(4){
  padding-left: 12px;
 }

 .sub ul:nth-child(5){
  padding-left: 12px;
 }

.sub ul a{
  color: #f2f2f2;
  display: block;
  padding: 10px 5px;  
  font-size: 15px;
  font-weight: 400;  
}

.nav li:hover .sub{
  display: block;    
}

.sub a:hover{
  color: #ff9933;
}

.login{
  float: right;  
  position: relative;  
  top: 38px;
  right: 0;
}

.login li {
  float: left;
}

.login li a {
  padding: 10px 15px;  
  color: #f2f2f2;
}

.login li:nth-child(1) {
  color: #f2f2f2;
}

.login li:nth-child(2) {
  background-color: #000;
  border-radius: 10px;
  color: #f2f2f2;
}

.login li a:hover {
  color: #ff9933;
}


/*section*/
#movie{
  width: 100%;
}

.m1{
  display: inline;   
  height: 700px;
  position: absolute;
  top: 235px;
  left: 0;
  margin: auto;
}

.sec_b1 {  
  display: block;
  width: 100%;
  height: 627px;
  background: url(../images/main_bg_1.jpg) no-repeat center;  
  margin-top: 700px;
}

.sec_b1_inner {
  margin: auto;
  width: 1320px;
  height: 627px;
  display: block;
  padding: 95px 80px;
  box-sizing: border-box;
}

.food {
  float: left;
  width: 622px;
  height: 443px;
  padding-left: 40px;
}

.subtitle {
  float: left;
  color: #fff;
  margin-bottom: 30px;padding-left: 20px;
}

.fugu_icon { 
  width: 120px;
  height: 100px;
  margin: auto;
  padding-top: 100px;
  display: block;
}

h2 {  
  padding-bottom: 10px;
  font-size: 22px;
  text-align: center;
  border-bottom: 2px solid #ff9933;
  color: #333;
}

.menu_1{  
  position: relative;
  width: 100%;
  top: -70px;
  height: 700px;
  padding-top: 50px;
  background: url(../images/menu_background.png) no-repeat center top 25%;    
}

.h8{
  position: relative;
  top: -130px;
  margin: auto;
  font-size: 12px;  
  color: #333;  
  font-weight: 200;
  display: block;
  text-align: center;
}

.back_2 {  
  height: 550px;
  background: url(../images/main_bg_2.jpg) no-repeat center bottom fixed;
}

.menu_2 {
  width: 100%;
  height: 770px;
  margin: auto;
  margin-bottom: 100px;  
  background: url(../images/menu2_back.png) no-repeat center;
  top: -20%;
}

.menu_inner{
  padding-top: 85px;
  margin: auto;
}

.back_4 {  
  height: 500px;
  background: url(../images/main_bg_4.jpg) no-repeat center bottom fixed;
}

.menu_3 {
  background: url(../images/wave_2.jpg) no-repeat center;
  width: 100%;
  height: 750px;
  margin-bottom: 200px;
  overflow: hidden;
  display: block;
}

.menu3_wrap {
  background-color: #1a1a1a;
  width: 917px;
  height: 547px;
  margin: auto;
  position: relative;
  top: 13%;
}

.menu3_wrap_inner {
  float: left;
  padding: 10px 5px 10px 10px;
}

.menu3_wrap_inner_2 {
  float: left;
  padding: 10px 10px 10px 10px;
}

.menu3_wrap_inner_3 {
  float: left;  
  padding: 10px 10px 10px 5px;
  
}

.menu3_wrap_inner_4 {
  float: left;
  margin-top: -65px;
  padding: 10px 5px 10px 10px;
}

.menu3_wrap_inner_5 {
  float: left;
  margin-top: -140px;
  padding: 10px 5px 10px 10px;
}

.menu3_wrap_inner_6 {
  float: left;
  margin-top: -14px;
  padding: 10px 5px 10px 10px;
}

.menu3_wrap a{
  display: block;  
  overflow: hidden;
}

.menu3_wrap img{
  transition: 0.3s;
}

.menu3_wrap a:hover img, .menu3_wrap a:focus img{
  transform: scale(1.2);
}


.back_3{  
  height: 500px;
  background: url(../images/main_bg_3.jpg) no-repeat center top fixed;
}

.origin {
  width: 960px;
  height: 630px;
  margin: auto;
  margin-bottom: 130px;
  padding-top: 50px;
}

.origin_pepper {
  width: 247px;
  height: 247px;
  position: relative;
  top: 0;
  left: 18%;
  display: block;
}

.origin_pepper p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  position: relative;
  top: -50%;
}

.origin_egg {
  width: 247px;
  height: 247px;
  position: relative;
  top: -39%;
  left: 57%;
  display: block;
}

.origin_egg p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  position: relative;
  top: -50%;
}

.wave {
  background: url(../images/wave_line.png) no-repeat center;
  width: 953px;
  height: 88px;
  margin-top: -230px;
}

.origin_rice {
  width: 247px;
  height: 247px;
  position: relative;
  top: 3%;
  left: 0%;
  display: block;
}

.origin_rice p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  position: relative;
  top: -50%;
}

.origin_lime {
  width: 247px;
  height: 247px;
  position: relative;
  top: -36%;
  left: 37%;
  display: block;
}

.origin_lime p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  position: relative;
  top: -50%;
}

.origin_garlic {
  width: 247px;
  height: 247px;
  position: relative;
  top: -75%;
  left: 74%;
  display: block;
}

.origin_garlic p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  position: relative;
  top: -50%;
}


/*footer*/

#footer {
  background-color: #1a1a1a;
  width: 100%;
  height: 300px;
}

.footer_inn {
  width: 1200px;
  height: 300px;
  padding-left: 130px;
  margin: auto;
}

.b_logo {
  width: 125px;
  height: 140px;
  float: left;
  padding: 80px 50px 80px 75px;
}

.list {
  margin-left: 240px;
}

.list li {
  float: left;
  margin: 20px 0 10px 0;
}

.list li a {
  padding: 0 10px 0 10px;
  color: #f2f2f2;
}

.list li a:hover{
  color: #ff9933;
}

.list_2 {
  float: left;
  width: 900px;
  height: 40px;
  margin-top: 20px;
}

.list_2 li {
  float: left;
}

.list_2 li a {
  border: 1px solid #ccc;
  padding: 5px 20px;  
  margin: 0px 15px 0 10px;
  color: #f2f2f2;
}

.list_2 li a:hover{
  color: #ff9933;
}

.span {
  float: left;
  color: #eee;
  font-size: 13px;
  padding: 10px 0 0 10px;
  line-height: 26px;
}

.social {
  float: right;
  margin: 130px 200px 0 0;
  overflow: hidden;
}

.social li {
  float: left;
  opacity: 0.5;
}

.social li a{
  padding-left: 10px;  
}

.social li:hover{
  opacity: 1;
}